.scroll-hint-container {
  position: absolute;
  bottom: 50px;
  right: 0;
  left: 0;
}

.col.frame {
  align-items: flex-start;
}

.row {
  position: absolute;
  width: 100%;
  margin-top: 80px;
  display: flex;
}
.col {
  padding: 50px 0;
  width: 50%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #fcfcfc;
  color: #6d6a66;
}

.scroll-hint {
  color: #aaa49d;
  opacity: .6;
  text-transform: uppercase;
  font-size: large;
  right: 0;
  left: 0;
}

.scroll-hint-icon{
  color: #aaa49d;
  font-size: 50px;
  right: 0;
  left: 0;
  opacity: .6;
  position: absolute;
  bottom: -50px;
  right: 0;
  left: 0;
}

.scroll-snap {
  padding: 0;
}

.scroll-snap.first {
  background-image: url('../static/img/first-scroll-bg.jpg');
  background-size: cover;
}

* {
	box-sizing: border-box;
}

html {
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
}

section {
	height: 100vh;
	scroll-snap-align: start;
	text-align: center;
	position: relative;
}
